

*{
    margin: 0px;
    padding: 0px;
}
.wrapper {
    width: 800px;
    height: 600px;
    margin: 0px auto;
    margin-top: 10px;
   background-image: url(../image/Resources/background.jpg);
}

.wrapper .contain {
    width: 800px;
    height: 600px;
    text-align: center;
}

.wrapper .contain .font span {
    color: white;
    font-size: 40px;
    display: inline-block;
    margin-top: 40px;
    font-weight:bold
    
}


.wrapper .contain .content  img{
    width: 220px;
    height: 180px;
}
.wrapper .contain .bottom {  
    width: 800px;
    height: 600px;
}   
span{
    color: white;
    font-size: 40px;
    margin: 105px;
}
.span1{
    font-weight:bold
}
.span2{
    margin-top: 20px;
}
